{% extends "base.html" %}

{% block title %}Mój profil - ReviewRadar{% endblock %}

{% block content %}
  <div class="form-box">
    <h1>Mój profil</h1>
    <div class="field">
      <label>Nazwa użytkownika</label>
      <p>{{ user.username }}</p>
    </div>
    <div class="field">
      <label>Adres e-mail</label>
      <p>{{ user.email }}</p>
    </div>
    <div class="field">
      <label>Dołączył(a)</label>
      <p>{{ user.date_joined|date:"d.m.Y" }}</p>
    </div>
    <div class="field">
      <label>Obserwowane produkty</label>
      <p>{{ watchlist_count }}</p>
    </div>
    <div class="field">
      <label>Wystawione oceny</label>
      <p>{{ review_count }}</p>
    </div>
    <p class="form-footer">
      <a href="{% url 'accounts:change_email' %}">Zmień adres e-mail</a><br>
      <a href="{% url 'accounts:password_change' %}">Zmień hasło</a><br>
      <a href="{% url 'accounts:watchlist' %}">Moje obserwowane produkty</a>
    </p>
  </div>
{% endblock %}
